{% extends 'base.html'  %}
{% block title %} dice  {% endblock %}
{% block content %}

<div class="jumbotron">
    <h1>dice</h1>
    <p class="lead">dice Demo</p>
    <p><a href=""></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Dice No: {{no}}</h2>
        <h2> Dict Name: {{dict1.name}}</h2>
        <h2> Dict Age: {{dict1.age}}</h2>
        <p>

        
        </p>
        <p><a href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p><a href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p><a href=""></a></p>
    </div>
</div>

{% endblock %}
