{% extends 'base.html'  %}
{% block title %} index {% endblock %}
{% block content %}

<div class="jumbotron">
    <h1> index</h1>
    <p class="lead">index Demo</p>
    <p><a href=""></a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 align="left"> Display student Table All Data</h2>
        {% if request.user.is_authenticated  %}
            Welcome: {{name}}
            <p><a href="/logout/"> LogOut </a> </p>
        {% else  %}
            <p> You Not logIn ~~  </p>
            <a href="/login/"> LogIn </a>
        {% endif  %}
        <span style="color:red">{{message}}</span>
        
    </div>
</div>

{% endblock %}
