{% extends 'base.html'  %}
{% block title %} post1 {% endblock %}
{% block content %}

<div class="jumbotron">
    <h1>post2</h1>
    <p class="lead">post2 Demo</p>
    <p><a href=""></a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="." method="POST" name="form1" >
            {% csrf_token  %}
            <table border="1" cellspacing="1" cellpadding="4">
                <tr>
                    <th>Name</th><td>{{postform.cName}}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>
                        <input name="cSex" type="radio" id="cSex1" value="M" checked="checked"/>
                        Man
                        <input name="cSex" type="radio" id="cSex2" value="F" />
                        Female
                    </td>
                </tr>
                <tr>
                    <th>Birthday </th><td>{{postform.cBirthday}}</td>
                </tr>
                <tr>
                    <th>Email </th><td>{{postform.cEmail}}</td>
                </tr>
                <tr>
                    <th>Phone </th><td>{{postform.cPhone}}</td>
                </tr>
                <tr>
                    <th>Addr  </th><td>{{postform.cAddr}}</td>
                </tr>
                <tr>
                    <th colspan="2" align="center">
                        <input type="submit" name="button" id="button" value="send" >
                        <input type="reset" name="button2" id="button2" value="reset">
                    </th>
                </tr>
            </table>

            <span style="color:red" >{{message}}</span>
        </form>    
        
    </div>
</div>    
{% endblock %}
